/**
File Name : font.css
Description : 폰트 
Author : 임지영

History
Date        Author   Status    Description
2024.06.13  임지영    Created
*/

@font-face {
    font-family: 'gmarket Bold';
    font-style: normal;
    font-weight: 100;
    src: url('./GmarketSansBold.woff') format('woff');
}

@font-face {
    font-family: 'gmarket Medium';
    font-style: normal;
    font-weight: 100;
    src: url('./GmarketSansMedium.woff') format('woff');
}

@font-face {
    font-family: 'gmarket Light';
    font-style: normal;
    font-weight: 100;
    src: url('./GmarketSansLight.woff') format('woff');
}

@font-face {
    font-family: 'GowunDodum';
    font-style: normal;
    font-weight: 100;
    src: url('./GowunDodum-Regular.woff') format('woff');
}
